@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: 0;
  text-decoration: none;
}

:root {
  --color-bg: #fff;
  --color-bg-variant: #d7dff7;
  --color-primary: #2930fe;
  --color-primary-variant: #1e68c2;
  --color-black: #252525;
  --color-light-black: #1b1b1b99;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 80%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-black);
  line-height: 1.7;
  /* background-image: url(../src/assets/texture-bg.png); */
}

/*=================================== STYLES GERAIS ===================================*/
.container {
  width: 980px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

li {
  list-style: none;
}

section {
  margin-top: 7rem;
  /*height: 100vh;*/
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light-black);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.text-light {
  color: var(--color-light-black);
}

a {
  font-size: 0.9rem;
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-black);
}

.button {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.40rem 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.button:hover {
  background-color: var(--color-black);
  color: var(--color-bg);
  border-color: transparent;
}

.button-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*========================= MEDIA QUERIES (MEDIUM DEVICES) =========================*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem; 
    
  }
}

/*========================= MEDIA QUERIES (SMALL DEVICES) =========================*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-ms);
  }

  section > h2 {
    margin-bottom: 2rem; 
  }
}